services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER:     order_user
      POSTGRES_PASSWORD: order_pass
      POSTGRES_DB:       order_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U order_user -d order_db"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  pgdata:
