apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: green-development
resources:
- ../../../base
namePrefix: green-
commonLabels:
  app.kubernetes.io/name: green
  app.kubernetes.io/instance: green-development
  environment: development
images:
- name: docker.io/davidaparicio/app
  newName: docker.io/davidaparicio/green
  newTag: sha-f0ad6755200fac2059e615a43d68d5d989a3df88
replicas:
- name: app
  count: 1
patches:
- patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/memory
      value: "32Mi"
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/cpu
      value: "50m"
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/memory
      value: "64Mi"
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/cpu
      value: "100m"
    - op: add
      path: /spec/template/spec/containers/0/imagePullPolicy
      value: Always
  target:
    kind: Deployment
- patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: green.dev.127.0.0.1.nip.io
  target:
    kind: Ingress
