apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: {{.service}}-releases
  namespace: {{.namespace}}
spec:
  subscriptions:
    - image:
        repoURL: {{.dockerRegistry}}/{{.service}}
        semverConstraint: {{.stagingEnvironment.semverConstraint}}
        platform: {{.warehouse.platform}}
        discoveryLimit: {{.warehouse.discoveryLimit}}
