kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: microsvcs
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30080 # ingress-nginx controller HTTP
    hostPort: 30080
  - containerPort: 30443 # ingress-nginx controller HTTPS
    hostPort: 30443
  - containerPort: 31443 # Argo CD dashboard
    hostPort: 31443 # 8080
  - containerPort: 31444 # Kargo dashboard
    hostPort: 31444
  - containerPort: 31445 # External webhooks server
    hostPort: 31445
  - containerPort: 32080 # test application instance
    hostPort: 32080
  - containerPort: 32081 # UAT application instance
    hostPort: 32081
  - containerPort: 32082 # prod application instance
    hostPort: 32082
    # Uncomment to use a specific Kubernetes version for testing
    # image: kindest/node:v1.23.17

# kind create cluster --config k8s/kind-config.yaml
# kind export kubeconfig --name microsvcs
# kind load docker-image $(IMAGE_NAME) --name $(KIND_CLUSTER)
# OR: https://kind.sigs.k8s.io/docs/user/local-registry/