apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: red-production
resources:
- ../../../base
namePrefix: red-
commonLabels:
  app.kubernetes.io/name: red
  app.kubernetes.io/instance: red-production
  environment: production
images:
- name: quay.io/davidaparicio/app
  newName: quay.io/davidaparicio/red
  newTag: 2.5.0
- name: quay.io/davidaparicio/red
  newTag: 2.6.1
replicas:
- name: app
  count: 3
patches:
- patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/memory
      value: "128Mi"
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/cpu
      value: "200m"
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/memory
      value: "256Mi"
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/cpu
      value: "500m"
  target:
    kind: Deployment
- patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: red.prd.127.0.0.1.nip.io
  target:
    kind: Ingress
