apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: red-development

resources:
  - ../../../base

namePrefix: red-

commonLabels:
  app.kubernetes.io/name: red
  app.kubernetes.io/instance: red-development
  environment: development

images:
  - name: davidaparicio/app
    newName: davidaparicio/red
    newTag: "latest"

replicas:
  - name: app
    count: 1

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "32Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "50m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "64Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "100m"
    target:
      kind: Deployment
