apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: green-production
resources:
- ../../../base
- ../../../base/pdb.yaml
- ../../../base/hpa.yaml
namePrefix: green-
commonLabels:
  app.kubernetes.io/name: green
  app.kubernetes.io/instance: green-production
  environment: production
images:
- name: quay.io/davidaparicio/app
  newName: quay.io/davidaparicio/green
  newTag: 2.6.0
replicas:
- name: app
  count: 3
patches:
- patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/memory
      value: "128Mi"
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/cpu
      value: "200m"
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/memory
      value: "256Mi"
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/cpu
      value: "500m"
  target:
    kind: Deployment
- patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: green.prd.127.0.0.1.nip.io
    - op: replace
      path: /spec/tls/0/hosts/0
      value: green.prd.127.0.0.1.nip.io
    - op: replace
      path: /spec/tls/0/secretName
      value: green-tls
  target:
    kind: Ingress
- patch: |-
    - op: replace
      path: /spec/minReplicas
      value: 3
    - op: replace
      path: /spec/maxReplicas
      value: 10
  target:
    kind: HorizontalPodAutoscaler
- patch: |-
    - op: replace
      path: /spec/minAvailable
      value: 2
  target:
    kind: PodDisruptionBudget
